#!/usr/bin/env bash

if [ -f /vagrant/.vagrant/install_mariadb_done ]; then
    echo "MariaDB already installed.  Exiting."
    exit
fi
 
# Variables
DBPASSWD=TypeYourMariaDBrootPasswordHere

# apt: add mariadb sources and key
sudo cp /vagrant/mariadb_related/mariadb_sources.list /etc/apt/sources.list.d/mariadb_sources.list

apt-key adv --recv-keys --keyserver keyserver.ubuntu.com 0xcbcb082a1bb943db
apt-get update

debconf-set-selections <<< "mariadb-server-5.5 mysql-server/root_password password $DBPASSWD"
debconf-set-selections <<< "mariadb-server-5.5 mysql-server/root_password_again password $DBPASSWD"

apt-get install -y --allow-unauthenticated mariadb-server mariadb-client > /dev/null 2>&1

touch /vagrant/.vagrant/install_mariadb_done

